rpc = '{{ rpc_url }}'
target = '0.0.0.0:9179'
vote_account_whitelist = [
  "G8wNSn917P34TADGh3MHwr5Un8LT7J7U4LrkhDMTMUSL"
]
staking_account_whitelist = []
enable_rewards = true
enable_skipped_slots = true